nav(class="navbar navbar-inverse navbar-fixed-top")
    div(class="container")
        ul(class="nav navbar-nav")
            li
                a(href="/") Home
            li
                a(href="#") About
            li
                a(href="#") Templates
            li
                a(href="#") Contact
        ul(class="nav navbar-nav navbar-right")
            li
                a(href="/addDog") Add A Dog
if(success)
    div(class="container")
        div(class="container alert alert-success")
            strong Success! 
            span= success
if(deleted)
    div(class="container")
        div(class="container alert alert-danger")
            strong Success! 
            span= deleted